body{
    background-image: url(jeune-couple-a-la-peau-sombre-essayant-d-echapper-a-l-expulsion-de-leur-appartement.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;

}

#conteneur{
    max-width: 900px;
    margin: 20px auto;
    padding: 20px auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.553);
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 30px rgba(0,0,0,0.35);
}

span{
    color: #ea8e16;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.element{
    padding: 10px 20px;
}

.element input{
    padding: 12px;
    border-radius: 8px;
    width: 97%;
    border: none;
    outline: none;
}

button{
    padding: 10px 100px;
    background: #ea8e16;
    color: white;
    font-weight: bold;
    margin: 10px 100px;
    text-transform: uppercase;
    align-items: center;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
}

button:hover{
    padding: 10px 100px;
    background: #ea8e16b4;
    color: rgb(10, 10, 10);
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    align-items: center;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
}

#resultat {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: aliceblue;
    color: black;
    margin: 20px 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 15px black;
}

footer .copyright {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
 }

 @media (max-width: 480px){
    #resultat {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background-color: aliceblue;
        color: black;
        margin: 20px 50px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 2px 15px black;
    }

    .element input{
        padding: 12px;
        border-radius: 8px;
        width: 90%;
        border: none;
        outline: none;
    }

    button{
        padding: 10px 30px;
        background: #ea8e16;
        color: white;
        font-weight: bold;
        margin: 10px 30px;
        text-transform: uppercase;
        align-items: center;
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
    }
    
    button:hover{
        padding: 10px 30px;
        background: #ea8e16b4;
        color: rgb(10, 10, 10);
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
        align-items: center;
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
    }
 }